* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

.notes__wrapper,
.notes__header,
.notes__row {
    width: 100%;
}

.notes__row,
.notes__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.notes__header {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.notes__row {
    padding: 5px;
}

.notes__row:nth-child(2n) {
    background-color: #ddd;
}

.notes__cell {
    overflow: hidden;
    text-overflow: ellipsis;
}

.notes__buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
}

.notes__modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.3);
}

.notes__modal-form {
    position: absolute;
    inset: 0;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
    background-color: #fff;
}

.notes__modal-row {
    padding-bottom: 10px;
}

.notes__modal-label {
    
    text-transform: capitalize;
}