* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

.notes__wrapper,
.notes__header,
.notes__data,
.notes__row {
    width: 100%;
}

.notes__data,
.notes__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.notes__buttons {
    width: 100%;
}